<div class='image' name='{{name}}'>
    <div class='imgDetails'>
      <h5>{{name}}</h5>
      <p charlimit='20' class='small'>
        {{description}}
      </p>
    </div>
    <div class='imageFile'>
      <img description='{{description}}' name='{{name}}' src='{{url}}' />
    </div>
    <div class='buttons'>
      <a class='btn btn-xsmall btn-blue editImage' data-groupName='{{groupName}}' data-imageName='{{name}}' href='javascript:;'>edit</a>
      <a class='btn btn-xsmall btn-red deleteImage' data-groupName='{{groupName}}' data-imageName='{{name}}' href='javascript:;'>delete</a>
    </div>
</div>